.App {
    text-align: center;
  }
  
.App-header {
  background-image: url('../img/header-bg-desktop.webp');
  background-size: cover;
}

.App-title {
    margin-top: 5%;
}

.App-main-content {
    background-image: url('../img/veg.webp');
}

.App-dropzone {
    height: 15%;
    width: 60%;
    max-width: 600px;
    margin: 100px auto 75px;

    /* margin: 15vh auto 0;
    transform: translateY(-40%); */
}

.App-stats {
    margin: 0 auto;
    max-width: 1200px;
}
