.App {
  text-align: center;
}

.App-logo {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}

.App-link {
  color: #61dafb;
}

.App-dropzone {
    height: 15%;
    width: 60%;
    margin: 30vh auto 0;
    transform: translateY(-50%);
}
